.section_estudios{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

h1{
    color: rgba(255, 255, 255, 0.623);
    font-size: 1 rem;
    padding-left: 10px;
    padding-top: 20px;
}
.estudio-card {
    height: 23vh;
    color: white;
    position: relative;
    display: flex;
    row-gap: 20px;

}

.estudio-imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0.5;
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.267);
}

.estudio-imagen:hover{
    opacity: 0.1;
    border: solid 1px rgb(255, 255, 255);
    transition: 1s;
}

.estudio-data{
    opacity: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
}

.estudio-card:hover .estudio-data{
    opacity: 1;
    transform: scale(0.8);
    transition: 1s;
}

.footer-estudio{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.footer-estudio p:last-child{
    text-align: end;
}

.section_estudios{
    gap: 1rem;
}